.custom-background {
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 10px;
  }
  

  .custom-button {
    margin: 10px;
  }
  
  .pink-button {
    background-color: pink;
    border-color: pink;
    color: white;
  }
  
  .pink-button:hover {
    background-color: #ff69b4;
    border-color: #ff69b4;
  }
  