.NavBar {
  width: 100%;
  height: 100px;
  background-color: #362907;
  display: flex;
  flex-direction: row;
}

.NavBar .leftSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.NavBar .leftSide img {
  width: 70px;
}

.NavBar .rightSide {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavBar a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.NavBar .rightSide button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.NavBar .rightSide svg {
  font-size: 40px;
}

.NavBar #open {
  padding-left: 0px;
}

.NavBar #open img {
  display: none;
}

.NavBar #close img {
  display: inherit;
}

.NavBar #open .hiddenLinks {
  display: inherit;
  margin-left: 30px;
}

.NavBar #close .hiddenLinks {
  display: none;
}

.NavBar #open a {
  width: 70px;
  margin: 5px;
}

@media only screen and (max-width: 900px) {
  .NavBar .rightSide a {
    width: 70px;
  }
  .NavBar .leftSide {
    padding-left: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .NavBar .rightSide a {
    display: none;
  }

  .NavBar .rightSide {
    justify-content: flex-end;
    padding-right: 50px;
  }

  .NavBar .rightSide button {
    display: inherit;
  }
}

@media only screen and (min-width: 600px) {
  .NavBar .rightSide button {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.navbar-brand img {
  margin-right: 10px;
  width: 200px; 
  height: auto; 
}

.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}

.nav-link:hover {
  color: #007bff;
}
